@import "tailwindcss";

:root {
  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-900);
    --foreground: var(--color-zinc-200);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
